body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f4f8;
}

#container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

select {
    padding: 8px;
    font-size: 1rem;
    margin: 10px 0;
}

#dust-info {
    margin-top: 20px;
    font-size: 1.2rem;
}


#screenshot-box {
    margin-top: 30px;
    text-align: center;
}

#capture-img {
    max-width: 90%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
